
.calcu {
     resize: both;
    margin: 20px;
    border: 10px  #ccc solid;
    border-radius: 5px;
    padding: 10px;
    min-width: 100vh;
    min-height: 100vh;
    background-color: steelblue;
   
  }
  
  
  .disp {
    background-color: #8a7979;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 10px;
    width: auto;
   
    
  }
  input{
    color: rgb(142, 212, 51);
    width: 100vh;
    background-color: blue;
    }
  
  .main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
    min-width: 50vh;
  }
  
  .button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
  }
  
  .button:hover {
    background-color: #19a1b3;
  }
  
  .button:active {
    background-color: #5d10b6;
  }
  h1{
    position: relative;
    top: 0px;
  }
 